:root {
    --max-width: 1500px;
    --border-radius: 15px;
    --background: #fff;
    --hover: #dcdcdc;
    --foreground: #1B191A;
    --hover-inverted: #3f3f3f;
    --primary-font: var(--font-inter);
    --secondary-font: var(--font-newake);
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #131213;
        --hover: #212121;
        --foreground: #EBEBEB;
        --hover-inverted: #a5a5a5;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: var(--max-width);
    padding: 30px 20px 0;
}

html,
body {
    overflow-x: hidden;
    background: var(--background);
    font-family: var(--primary-font);
    letter-spacing: -0.96px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    letter-spacing: normal;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
