:root {
    --max-width: 1500px;
    --border-radius: 15px;
    --background: #fff;
    --foreground:#1B191A;
    --primary-font: var(--font-inter);
    --secondary-font: var(--font-newake);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #131213;
        --foreground:#EBEBEB;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    display: flex;
    justify-content: center;
}

body{
    width: 100%;
    max-width: var(--max-width);
    padding-top:30px;

}
html,
body {
    overflow-x: hidden;
    background: var(--background);
    font-family: var(--primary-font);
    letter-spacing: -0.96px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    letter-spacing: normal;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
