.contact {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:25px;
  p {
    text-align: center;
    width: 50%;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.44px;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    a {
      letter-spacing: .5px;
      border-radius: 25px;
      background: var(--foreground);
      color:var(--background);
      font-family: var(--secondary-font);
      padding: 10px 30px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      transition: .2s ease-out;
      span{
        height: 70%;
        display: flex;
        align-items: flex-end;
      }
      &:hover{
        background: var(--hover-inverted);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .contact{
    .links{
      a{
        svg{
          filter: invert(100%);
        }
        img{
          filter: invert(100%);
        }
      }
    }
  }
}